<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="net.sf.smbt.btc.pools.bitminter.presentation.BitminterModelWizardID"
            name="%_UI_BitminterModelWizard_label"
            class="net.sf.smbt.btc.pools.bitminter.presentation.BitminterModelWizard"
            category="net.sf.smbt.ui"
            icon="icons/full/obj16/BitminterModelFile.gif">
         <description>%_UI_BitminterModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
<!--
   <extension point="org.eclipse.ui.editors">
      <editor
            id="net.sf.smbt.ui.btc.pools.ui.editors.BtcPoolsEditor"
            name="%_UI_BitminterEditor_label"
            icon="icons/full/obj16/BitminterModelFile.gif"
            extensions="bitminter"
            class="net.sf.smbt.btc.pools.bitminter.presentation.BitminterEditor"
            contributorClass="net.sf.smbt.btc.pools.bitminter.presentation.BitminterActionBarContributor">
      </editor>
   </extension>
-->
</plugin>
