<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://blockchaincmd/1.0"
            class="net.sf.smbt.btc.blockchaincmd.BlockchaincmdPackage"
            genModel="model/blockchaincmd.genmodel"/>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdHandler">
      <cmdHandler
            ID="net.sf.smbt.btc.blockchain.cmdHandler"
            handler="net.sf.smbt.btc.blockchain.cmd.BlockchainQxEventHandler">
      </cmdHandler>
   </extension>
   <extension
         point="net.sf.xqz.engine.cmdInterpreter">
      <cmdInterpreter
            ID="net.sf.smbt.btc.blockchain.cmdInterpreter"
            interpreter="net.sf.smbt.btc.blockchain.cmd.BlockchainCmdInterpreter">
      </cmdInterpreter>
   </extension>
   <extension
         point="net.sf.xqz.engine.frameInterpreter">
      <frameInterpreter
            ID="net.sf.smbt.btc.blockchain.frameInterpreter"
            interpreter="net.sf.smbt.btc.blockchain.cmd.BlockchainFrameInterpreter">
      </frameInterpreter>
   </extension>
   <extension
         point="net.sf.smbt.comm.topology.protocol">
      <engine
            ID="net.sf.smbt.btc.blockchain.engine"
            alias="blockchain"
			eventHandler="net.sf.smbt.btc.blockchain.cmdHandler"
            cmdInterpreterID="net.sf.smbt.btc.blockchain.cmdInterpreter"
            customHTTP="net.sf.smbt.btc.blockchain.cmd.BlockchainHttpCommunicator"
            frameInterpreter="net.sf.smbt.btc.blockchain.frameInterpreter"
            transports="HTTP">
      </engine>
   </extension>

</plugin>
