<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bitforcev2/1.0"
            class="net.sf.smbt.bitforcev2.Bitforcev2Package"
            genModel="model/bitforcev2.genmodel"/>
   </extension>








	<extension
	      point="net.sf.xqz.engine.cmdInterpreter">
	   <cmdInterpreter
	         ID="net.sf.smbt.bflv2.cmdInterpreter" 
	         interpreter="net.sf.smbt.bflv2.cmd.BitForceV2CmdInterpreter"
	         
	         >
	   </cmdInterpreter>
	</extension>
	
	<extension
	      point="net.sf.xqz.engine.frameInterpreter">
	   <frameInterpreter
	         ID="net.sf.smbt.bflv2.frameInterpreter" 
	         interpreter="net.sf.smbt.bflv2.cmd.BitForceV2FrameInterpreter"
	         
	         >
	   </frameInterpreter>
	</extension>

<extension
      point="net.sf.xqz.engine.cmdHandler">
   <cmdHandler
         ID="net.sf.smbt.bflv2.evtHandler"
         handler="net.sf.smbt.bflv2.cmd.BitForceV2QxEventHandler"
         
         >
   </cmdHandler>
</extension>
	
	<extension
	      point="net.sf.smbt.comm.topology.protocol">
	   <engine
          ID="net.sf.smbt.bflv2.engine"
          alias="bfl-v2"
          cmdInterpreterID="net.sf.smbt.bflv2.cmdInterpreter"
          desc="Butterfly Labs Bitforce Protocol V2 Commands"
          eventHandler="net.sf.smbt.bflv2.evtHandler"
          frameInterpreter="net.sf.smbt.bflv2.frameInterpreter"
          instance="0"
          transports="USB"
          customUSB="net.sf.smbt.bfl.bitforce.rev2.cmd.BitForceUSBCommReactor"
       >
	   </engine>
	</extension>








</plugin>
