<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://genericpools/1.0"
            class="net.sf.smbt.btc.genericpools.GenericpoolsPackage"
            genModel="model/genericpools.genmodel"/>
   </extension>
   
   
     
   
   
   
   

 
   
   
     
	<extension
	      point="net.sf.xqz.engine.cmdInterpreter">
	   <cmdInterpreter
	         ID="net.sf.smbt.btc.pools.getwork.cmdInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.cmd.getwork.GetworkCmdInterpreter"
	         
	         >
	   </cmdInterpreter>
	</extension>
	
	<extension
	      point="net.sf.xqz.engine.frameInterpreter">
	   <frameInterpreter
	         ID="net.sf.smbt.btc.pools.getwork.frameInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.cmd.getwork.GetworkFrameInterpreter"
	         
	         >
	   </frameInterpreter>
	</extension>

<extension
      point="net.sf.xqz.engine.cmdHandler">
   <cmdHandler
         ID="net.sf.smbt.btc.pools.getwork.evtHandler"
         handler="net.sf.smbt.btc.pools.cmd.getwork.GetworkEventHandler"
         
         >
   </cmdHandler>
</extension>
	
	<extension
	      point="net.sf.smbt.comm.topology.protocol">
	   <engine
          ID="net.sf.smbt.btc.pools.getwork"
          alias="getwork"
          cmdInterpreterID="net.sf.smbt.btc.pools.getwork.cmdInterpreter"
          desc="Getwork Mining APIs Commands"
          eventHandler="net.sf.smbt.btc.pools.getwork.evtHandler"
          frameInterpreter="net.sf.smbt.btc.pools.getwork.frameInterpreter"
          instance="0"
          transports="HTTP"
          customHTTP="net.sf.smbt.btc.pools.utils.getwork.BtcHttpCommunicatorReactor"
       >
 	   </engine>
	</extension>
   
   
   

 
   
   
     
	<extension
	      point="net.sf.xqz.engine.cmdInterpreter">
	   <cmdInterpreter
	         ID="net.sf.smbt.btc.pools.getblocktemplate.cmdInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.cmd.getblocktemplate.GetBlockTemplateCmdInterpreter"
	         
	         >
	   </cmdInterpreter>
	</extension>
	
	<extension
	      point="net.sf.xqz.engine.frameInterpreter">
	   <frameInterpreter
	         ID="net.sf.smbt.btc.pools.getblocktemplate.frameInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.cmd.getblocktemplate.GetBlockTemplateFrameInterpreter"
	         
	         >
	   </frameInterpreter>
	</extension>

<extension
      point="net.sf.xqz.engine.cmdHandler">
   <cmdHandler
         ID="net.sf.smbt.btc.pools.getblocktemplate.evtHandler"
         handler="net.sf.smbt.btc.pools.cmd.getblocktemplate.GetBlockTemplateEventHandler"
         
         >
   </cmdHandler>
</extension>
	
	<extension
	      point="net.sf.smbt.comm.topology.protocol">
	   <engine
          ID="net.sf.smbt.btc.pools.getblocktemplate"
          alias="getblocktemplate"
          cmdInterpreterID="net.sf.smbt.btc.pools.getblocktemplate.cmdInterpreter"
          desc="Get Block Template Mining APIs Commands"
          eventHandler="net.sf.smbt.btc.pools.getblocktemplate.evtHandler"
          frameInterpreter="net.sf.smbt.btc.pools.getblocktemplate.frameInterpreter"
          instance="0"
          transports="HTTP"
          customHTTP="net.sf.smbt.btc.pools.utils.getwork.BtcHttpCommunicatorReactor"
          >
	   </engine>
	</extension>
   
   
 
   

</plugin>


























