<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://bitminter/1.0"
            class="net.sf.smbt.btc.pools.bitminter.BitminterPackage"
            genModel="model/bitminter.genmodel"/>
   </extension>







 
   
   
     
	<extension
	      point="net.sf.xqz.engine.cmdInterpreter">
	   <cmdInterpreter
	         ID="net.sf.smbt.btc.pools.bitminter.cmdInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.bitminter.cmd.BitMinterCmdInterpreter"
	         
	         >
	   </cmdInterpreter>
	</extension>
	
	<extension
	      point="net.sf.xqz.engine.frameInterpreter">
	   <frameInterpreter
	         ID="net.sf.smbt.btc.pools.bitminter.frameInterpreter" 
	         interpreter="net.sf.smbt.btc.pools.bitminter.cmd.BitMinterFrameInterpreter"
	         
	         >
	   </frameInterpreter>
	</extension>

<extension
      point="net.sf.xqz.engine.cmdHandler">
   <cmdHandler
         ID="net.sf.smbt.btc.pools.bitminter.evtHandler"
         handler="net.sf.smbt.btc.pools.bitminter.cmd.BitMinterEventHandler"
         
         >
   </cmdHandler>
</extension>
	
	<extension
	      point="net.sf.smbt.comm.topology.protocol">
	   <engine
          ID="net.sf.smbt.btc.pools.bitminter"
          alias="bitminter"
          cmdInterpreterID="net.sf.smbt.btc.pools.bitminter.cmdInterpreter"
          desc="BitMinter APIs Commands"
          eventHandler="net.sf.smbt.btc.pools.bitminter.evtHandler"
          frameInterpreter="net.sf.smbt.btc.pools.bitminter.frameInterpreter"
          instance="0"
          transports="HTTP"
          customHTTP="net.sf.smbt.btc.pools.bitminter.utils.HttpCommunicatorReactor"
       >
	   </engine>
	</extension>
   

</plugin>
